</section>
<footer class="container-fluid bg-dark text-center text-white pt-4">
  <section class="">
    <div class="row">
      <!-- QUICK ACCESS LINKS -->
      <div class="col-12 pt-3">
        <h5 class="text-uppercase pb-3 ">Quick Access</h5>
        <ul class="list-unstyled pb-3 ">
          <li class="p-2">
            <a href="/" class="footer-quick-link">
              Home
            </a>
          </li>
          <li class="p-2">
            <a href="/incidents" class="footer-quick-link">
              Incidents
            </a>
          </li>
        </ul>
      </div>
    </div>
  </section>
  <hr />

  <!-- COPYLEFT  -->
  <section class="row text-center">
    <div class="col-12">
      <a
        class="text-info"
        href=""
        target="__blank"
      >
        <p class="btn btn-dark">
          <i class="fa fa-copyright fa-flip-horizontal"></i>
          &nbsp;COPYLEFT &nbsp;2022 &nbsp;HELP PANDA
        </p>
      </a>
    </div>
  </section>
  
</footer>
  <script src="/jquery/dist/jquery.slim.min.js"></script>
  <script src="/bootstrap/dist/js/bootstrap.min.js"></script>
  <script>
    var getTitle = "<%= title %>";
  </script>
  <script src="/javascripts/appclient.js"></script>
</body>
</html>