<!-- HOME PAGE -->

<%- include partials/header.ejs %>

<div class="container-fluid p-1">
  <!--<h1 class="p-2 mb-5"><%= title %></h1>-->
  <div class="row text-center p-5 mb-5">
    <img src="/images/logo.png" alt="LOGO" class="home-logo">
    <h2>Welcome to <%= title %></h2>
    <h5 class="pb-5 mb-5">To see the incidents, go to Incidents from menu</h5>
  </div>
</div>

<%- include partials/footer.ejs %>
