<%- include partials/header.ejs %>

<div class="container-fluid p-1">
  <h1><%= title %></h1>

  <div class="row text-center p-5">
    <h2>Welcome to <%= title %></h2>
    <h3>To see the incidents, go to Incidents from menu</h3>
  </div>
</div>
<%- include partials/footer.ejs %>
